@model Forum.Models.PasswordResetViewModel
@{
    ViewBag.Title = "Reset Password | Fudge Forum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reset Password</h2>

<p>Please enter your email address so that we can send the password reset information.</p>

<form id="frmStep1">
    <p><input type="text" placeholder="Email Address" id="EmailAddress" /></p>

    <p><input type="button" id="SubmitStep1" value="Submit" /></p>
</form>

<script>
    // STEP 1
    $("input[type=button]#SubmitStep1").on("click", function () {
        doStepOne();
    });
    function doStepOne()
    {
        var EmailAddress = $("#EmailAddress").val();
        var User = { "EmailAddress": EmailAddress };
        $.post("/User/ResetPassword", User, function (data) {
            if (data.IsOK != true)
            {
                // there was an error processing the password reset
                // so let the user know
                LYErrorDisplay(data.title, data.message);
            }
            else
            {
                // password reset proceeded fine
                alert("We've sent your password reset information to your email address.\nYou will now be redirected to the home page.");
                location.href = '@Url.Content("~/")';
            }
        });
    }
</script>